.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
  background-color: #f1f1f1;
}
.navbar > div {
  display: flex;
  flex-direction: column;

  border: 1px solid teal;
  border-radius: 50%;
  background-color: #fff;
  padding: 15px 35px;
}
.icon {
    font-size: 48px;
}
.bottomnav_container{
  text-align: center;
}
.bottomNav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bottomNav>div{
 padding: 10px;
}